ENV_NAME=homelab

PROMETHEUS_URL=http://prometheus:9090

ESP32_LIVINGROOM_TARGET=livingroom-sensor.local
ESP32_LIVINGROOM_DEVICE=esp32-lab
ESP32_LIVINGROOM_ROOM=livingroom

ESP32_BALCONY_TARGET=balcony-sensor.local
ESP32_BALCONY_DEVICE=esp32-balcony
ESP32_BALCONY_ROOM=balcony
