ENV_NAME=homelab

PROMETHEUS_URL=http://prometheus:9090

PROXMOX_NODE_EXPORTER_TARGET=192.168.1.99:9100
PROXMOX_API_TARGET=192.168.1.99
PROXMOX_HOST_LABEL=proxmox

ESP32_LIVINGROOM_TARGET=livingroom-sensor.local
ESP32_LIVINGROOM_DEVICE=esp32-lab
ESP32_LIVINGROOM_ROOM=livingroom

ESP32_BALCONY_TARGET=balcony-sensor.local
ESP32_BALCONY_DEVICE=esp32-balcony
ESP32_BALCONY_ROOM=balcony

PVE_USER=prometheus@pve
PVE_TOKEN_NAME=pve-exporter-token
PVE_VERIFY_SSL=false